@use "@assets/variables.scss";

.barraRecurso {
    cursor: pointer;
    width: 230px;
    height: 25px;
    flex-shrink: 0;
    position: relative;
    background-color: variables.$primary-color;

    .barra {
        width: 100%;
        max-width: 240px;
        height: 100%;
        transition: width 0.5s;
    }

    .texto {
        position: absolute;
        left: 0;
        top: 5px;
        width: 100%;
        text-align: center;

        p {
            color: #fff;
            font-size: 14px;
        }
    }

    .verde {
        background-color: variables.$green;
    }

    .azul {
        background-color: variables.$blue;
    }
}

.barraRecurso:hover {
    .texto {
        p {
            color: variables.$highlight-color;
        }
    }
}