@use "@assets/variables.scss";

.conteudo{
    width: 700px;
    height: 100%;
    overflow: hidden auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    
    .secao{
        width: 630px;
        margin-top: 15px;

        .titulo{
            width: 100%;
            height: 30px;
            border-bottom: 4px solid variables.$red;
            margin-bottom: 15px;

            h2{
                font-size: 20px;
            }
        }
        .atributos{
            display: flex;
            justify-content: space-between;
        }
        .pericias{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 12px;
        }
    }
    
}