@use "@assets/variables.scss";

main {
    display: flex;
    width: 960px;
    margin-left: auto;
    margin-right: auto;

    .ficha {
        background-color: variables.$background-color;
        display: flex;
        overflow: hidden;
        height: 100vh;
        position: relative;

        .conteudo {
            width: 700px;
            height: 100vh;
            overflow: hidden auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 15px;
        }

    }

    .navButtons {
        width: 70px;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        button {
            width: 40px;
            height: 40px;
            background-color: variables.$background-color;
            border: 4px solid variables.$secondary-color;
            border-radius: 0 5px 5px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: none;

            img{
                width: 20px;
                height: 20px;
            }
        }

        .active {
            width: 60px;
            background-color: variables.$red;
            border-color: white;
            transition: 0.2s width ease;
        }
    }
}