@use "@assets/variables.scss";

main {
    display: flex;
    width: 960px;
    margin-left: auto;
    margin-right: auto;

    .ficha {
        background-color: variables.$background-color;
        display: flex;
        overflow: hidden;
        height: 100vh;
        position: relative;
    }
}